@import "tailwindcss";

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
* {
  scrollbar-width: none;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.hamim-path {
  clip-path: polygon(0% 0%, 44% 0%, 45% 15%, 45% 35%, 55% 35%, 55% 15%, 56% 0%, 100% 0%, 100% 100%, 56% 100%, 55% 85%, 55% 65%, 45% 65%, 45% 85%, 44% 100%, 0% 100%);
}

.hamim-pupil {

  clip-path: polygon(44.2% 0%, 45.5% 40%, 45.5% 77%, 54.5% 77%, 54.5% 40%, 55.7% 0%);
  /* clip-path: ellipse(4% 30% at 50% 50%); */
}

@font-face {
  font-family: 'Robotech GP';
  src: url('./pages/Hamim/fonts/ROBOTECH\ GP.woff') format('woff');
  font-weight:900;
  font-style: normal;
  font-display: swap;
}

/* Class untuk menggunakan font tersebut */
.hamim-font {
  font-family: 'Robotech GP';
}